.requestsContainer{
    /*border-top: solid black 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;*/
    
    display:flex;
    background-color: aqua;
}
.hospitalRequestContainer{
  margin:100px;
   background-color: blue;
   border-top:solid black 1px;
   border-bottom:solid black 1px;
}
.item{
    width:100%;
    border-left: none;
    border-right: solid black 2px;
    border-top:solid black 1px;
    border-bottom:solid black 1px;
    background-color: rgb(160, 160, 160);
    text-align: center;
}

.item:nth-child(4){
    display:flex;
   
}
.Heading{
    background-color: blueviolet;
}